@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
  [role='list'] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

:root {
  --off-white: #eae6e1;
  --brown: #583b1f;
  --brown-dark: #1f140b;
  --grey: #c2bfcb;
  --magenta: #d22381;
  --cement: #e5e0da;
  --olive-green: #7e7b46;
  --yellow: #eed363;

  --text-main: var(--cement);
  --text-brand: var(--brown);
  --text-high-contrast: var(--off-white);
  --background-main: var(--olive-green);

  /* fonts */
  --ff-heading: 'Marcellus', serif;
  --ff-body: 'PT Serif', serif;
  --ff-brand: 'Montserrat', sans-serif;

  /* font scale */
  --base-size: 1rem;
  --scale: 1.25;
  --xl-font-size: calc(var(--lg-font-size) * var(--scale));
  --lg-font-size: calc(var(--h1) * var(--scale));
  --h1: calc(var(--h2) * var(--scale));
  --h2: calc(var(--h3) * var(--scale));
  --h3: calc(var(--h4) * var(--scale));
  --h4: calc(var(--h5) * var(--scale));
  --h5: calc(var(--h6) * var(--scale));
  --h6: var(--base-size);
  --sm-font-size: calc(var(--base-size) / var(--scale));
  --xs-font-size: calc(var(--sm-font-size) / var(--scale));

  @media (width > 760px) {
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    --fs-800: 3rem;
    --fs-900: 5rem;
    --fs-1000: 7.5rem;
  }
}

html {
  font-family: var(--ff-body);
  scroll-padding: 2rem;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
body {
  background-color: var(--background-main);
}
h1,
h2,
h3,
h4 {
  font-family: var(--ff-heading);
  font-weight: 400;
  line-height: 1.2em;
}
p {
  font-family: var(--text-main);
  font-weight: 400;
  line-height: 1.5em;
  color: var(--text-main);
}
a {
  color: var(--grey);
}
header {
  margin: 1rem;
}
header h3 {
  text-transform: uppercase;
}
.brand {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  h3 {
    grid-column: 1/2;
    text-transform: uppercase;
    font-size: var(--h5);
    font-weight: 400;
    letter-spacing: 1.2;
    color: var(--brown-dark);
  }
  nav {
    grid-column: 2/3;
    /* grid-row: 1/2; */
  }
  nav ul {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: space-evenly;
  }
  .socials ul {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: space-evenly;
    grid-column: 3/4;
  }
  .socials img {
    fill: var(--text-brand);
  }
}
footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  margin: 0 2rem;
}
footer .hours {
  color: var(--text-main);
}
footer h4::after,
footer dt::after {
  content: ': ';
}
footer h3 {
  font-size: var(--h4);
}
footer h4 {
  font-size: var(--h5);
}
footer article section {
  margin-top: 1rem;
}
footer dt,
footer dd {
  font-size: var(--xs-font-size);
}
footer address {
  font-style: normal;
  text-align: end;
}
footer address p {
  margin-bottom: 1.5rem;
}

@media (min-width: 760px) {
  footer dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  footer dt,
  footer dd {
    font-size: var(--sm-font-size);
  }
}
