@layer base {
  .colors {
    max-width: 1000px;
    display: flex;
    flex-flow: row;
    gap: 1.5rem;
    justify-content: center;
    margin: 1rem auto;
  }
  .colors > div {
    width: 3rem;
    height: 3rem;
    padding: 1rem 0;
    text-align: center;
    font-size: var(--xs-font-size);
  }
  .off-white {
    background-color: var(--off-white);
  }
  .brown {
    background-color: var(--brown);
    color: var(--off-white);
  }
  .grey {
    background-color: var(--grey);
  }
  .magenta {
    background-color: var(--magenta);
    color: var(--off-white);
  }
  .cement {
    background-color: var(--cement);
  }
  .olive-green {
    background-color: var(--olive-green);
    color: var(--off-white);
    border: 1px solid var(--off-white);
  }
  .yellow {
    background-color: var(--yellow);
  }
}
